.repo-card
  display: block
  background-color: var(--color-accent)
  padding: 24px
  border-radius: 12px
  display: flex
  align-items: center
  gap: 16px
  text-decoration: none
  cursor: pointer

  &__details
    flex-grow: 1
    overflow: hidden
    display: flex
    flex-direction: column
    gap: 4px

  &__name
    font-size: 20px
    font-weight: 500

  &__description
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    color: rgba(#fff, .6)

  &__owner__avatar
    width: 100px
    height: 100px
    object-fit: cover
    border-radius: 12px

  &__meta
    display: flex
    align-items: center
    gap: 32px

  &__stars,
  &__issues ,
  &__owner__username
    color: rgba(#fff, .6)
    display: flex
    align-items: center
    gap: 8px

    svg
      width: 20px
      height: 20px
      color: var(--color-primary)

  @media (max-width: 740px)
    &__owner__avatar
      width: 160px
      height: 160px

    &__details
      gap: 12px

    &__meta
      flex-direction: column
      gap: 6px
      align-items: flex-start

  @media (max-width: 520px)
    display: block

    &__owner__avatar
      margin-bottom: 12px

    &__description
      white-space: unset
